#calendar-container {
    flex: 2.5;
    min-width: 864px;
}

#calendar, #weekdays {
    grid-template-columns: repeat(7, 1fr);
}

#weekdays {
    grid-template-rows: 2rem;
    padding-bottom: 2px;

    text-align: center;
}

#weekdays div {
    font-size: 1.1rem;
}

#calendar {
    grid-template-rows: repeat(6, 1fr);
    overflow: auto;
}

.day {
    border: 1px solid white;
}

.day-number {
    padding-top: 3px;
    padding-right: 6px;
    text-align: end;
}

.not-included {
    color: grey;
}

.space {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    padding: 0 12px;
    padding-bottom: 8px;
}

.today {
    color: hsl(0, 100%, 63%);
}

.overloaded-events {
    text-align: center;
}