#calendar-container {
    flex: 3;
    min-width: 718px;
}

#calendar, #weekdays {
    grid-template-columns: repeat(7, 1fr);
}

#weekdays {
    grid-template-rows: 2rem;
    
    text-align: center;
}

#calendar {
    grid-template-rows: repeat(6, 1fr);
}

.day {
    border: 1px solid white;
}

.day-number {
    padding-top: 3px;
    padding-right: 6px;
    text-align: end;
}

.not-included {
    color: grey;
}

.day-event {
    
}

.today {
    color: red;
}