#calendar-container {
    flex: 2.5;
    min-width: 864px;
}

#calendar, #weekdays {
    grid-template-columns: repeat(7, 1fr);
}

#weekdays {
    grid-template-rows: 2rem;
    padding-bottom: 2px;

    text-align: center;
}

#weekdays div {
    font-size: 1.1rem;
}

#calendar {
    grid-template-rows: repeat(6, 1fr);
    overflow: auto;
}

.day {
    border: 1px solid white;
    min-width: 0;
    min-height: 0;
    padding-top: 3px;
}

.day-number {
    padding-right: 6px;
    text-align: end;
}

.not-included {
    color: grey;
}

.today {
    color: hsl(0, 100%, 63%);
}

.space {
    padding: 0px 6px;
    padding-bottom: 6px;

    overflow: auto;

    gap: 4px;
}

.day-event {
    font-size: 0.7em;
    border-radius: 10px;
    padding: 1px 0px;
    padding-left: 4px;
    padding-right: 6px;
    gap: 4px;

    background-color: hsla(0, 0%, 45%, 0.75);
}

.day-event-colour {
    border-width: 1px;
}

.day-event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}