/* MODAL */
#modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    justify-content: center;

    background-color: hsla(0, 0%, 0%, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#modal {
    background-color: darkgray;
}

#modal div {
    display: flex;
}

#event-colour {
    max-width: 0px;
    max-height: 0px;
}

#event-colour-cover {
    border-radius: 50%;
    border: 2px solid white;
    width: auto;
    height: 1em;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: flex-end;
}

/* EVENTS CONTAINER */
#events-container {
    min-width: 278px;
}

/* EVENT SECTIONS */
#events-section-container {
    overflow: scroll;
    padding-bottom: calc(21px - 14px);
}

.event-section-title {
    margin-bottom: 8px;
}

.event-section {
    margin-bottom: 14px;
    gap: 12px;
}

/* EVENT CARDS */
.event-card {
    background-color: hsla(0, 0%, 45%, 0.75);
    border-radius: 12px;
    padding: 8px 12px;
}

.event-card-header {
    gap: 8px;
}

.event-name {
    font-size: 1.1em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-notes {
    font-style: italic;
    hyphens: auto;
}