#container {
  width: 100vw;
  height: 100vh;
  
  align-items: stretch;
}

.flexbox {
  display: flex;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex: 1
}

.grid {
  display: grid;
}