/* LAYOUT CLASSES */
.flexbox {
  display: flex;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex: 1
}

.flexbox-center-items {
  align-items: center;
}

.grid {
  display: grid;
}

.prevent-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-select {
  user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

/* TEXT CLASSES */
.major-title {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 800;
  margin: 21px 0px;
}

.minor-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.regular-title {
  font-size: 1rem;
  font-weight: 600;
}

/* MAIN LAYOUT STYLING */
#container {
  width: max(calc(864px + 15px + 15px), 100vw);
  height: 100vh;

  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
  gap: 15px;
  flex-wrap: wrap;
  
  align-items: stretch;
}

.background {
  border: 2px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 16px;
  overflow: hidden;

  background-color: hsla(0, 0%, 10%, 0.7);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

#calendar-container, #events-container {
  max-height: 100%;
  box-sizing: border-box;
  min-height: 560px;
}

#calendar-header, #events-header, #events-section-container {
  padding: 0px 22px;
}

#calendar-header {
  gap: 8px;
}

.day-event-colour, .colour-box {
  border-radius: 50%;
  border: 2px solid white;
  width: auto;
  height: 1em;
  aspect-ratio: 1 / 1;
}

#calendar-header button, #events-header button {
  font-size: 1.1rem;
}

.delete-button, .highlighted-button {
  transition: background-color 0.25s;
}

.delete-button:hover {
  background-color: hsla(0, 100%, 63%, 0.5);
}

.highlighted-button:hover {
  color: hsl(0, 0%, 100%);
  border-color: hsla(0, 0%, 100%, 0.3);
  background-color: hsla(0, 0%, 100%, 0.3);
}