:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2 {
  margin: 0;
}

#root {
  overflow-x: auto;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;

  background-image: url(./assets/forest-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label {
  font-weight: 500;
}

button, input, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  font-weight: 500;
  font-family: inherit;
  font-size: inherit;
  border-width: 0px;
  padding: 0px;
}

input, textarea {
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 0.4em 0.7em;
  color: inherit;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: hsla(0, 0%, 100%, 0.3);
}